.addNewWrapper {
  max-width: 600px;
  margin: 50px auto;
}

.ingredients-wrapper form div label,
.addNewWrapper form div input,
.addNewWrapper form div textarea,
.addNewWrapper form div select {
  display: block;
  width: 350px;
  height: 35px;
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #dddddd;
}

.addNewWrapper form div textarea {
  height: 140px;
}

.ingredients-wrapper {
  width: 350px;
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  animation: colorFadeInOut 1.5s ease-in-out;
}

@keyframes colorFadeInOut {
  0% {
    background-color: none;
  }

  50% {
    background-color: rgb(251, 237, 210);
  }

  100% {
    background-color: none;
  }
}

.ingredients-wrapper div input {
  max-width: 150px;
}
