.addNewWrapper {
  max-width: 600px;
  margin: 50px auto;
}

.ingredients-wrapper form div label,
.addNewWrapper form div input,
.addNewWrapper form div textarea,
.addNewWrapper form div select {
  display: block;
  width: 350px;
  height: 35px;
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #dddddd;
}

.addNewWrapper form div textarea {
  height: 140px;
}

.ingredients-wrapper {
  width: 350px;
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ingredients-wrapper div input {
  max-width: 150px;
}

.captcha-txt {
  background: url("../Assets/captcha-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.5rem;
  height: 50px;
  width: 200px;
  margin: 1rem 0;
  text-align: center;
  color: rgb(129, 129, 129);
  letter-spacing: 1.2rem;
  font-size: 1.5rem;
}
