.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
}

.checkpost {
  max-width: 600px;
  height: auto;
  background-color: #f1f1f1;
  padding: 1.5rem;
  line-height: 1.5;
  overflow-y: auto;
}

ul li {
  list-style-type: none;
}

.post-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.post-subheader {
  font-weight: 700;
  padding: 1rem 0;
}

.checkpost-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.checkpost-btns button {
  margin: 0.5rem;
  display: inline-block;
  width: 100%;
}
