footer {
  background: #333;
  color: #fff;
  margin-top: auto;
  height: 265px;
  text-align: center;
  padding: 0.5rem;
  font-family: "Open Sans", sans-serif;
}

.footer-logo {
  color: #fff;
}

.sub-cta {
  margin: 1rem 0;
  width: auto;
  color: #fff;
}

.footer-nav-links a {
  display: inline-block;
  width: 150px;
  background: #fff;
  color: #333;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}

#sub-email {
  height: 40px;
  width: 400px;
  margin: 1rem 0.5rem 0 0;
  border: 1px solid #dedede;
  border-radius: 0;
}

#btn-sub {
  padding: 0 1rem;
  height: 40px;
  border: 1px solid orange;
  background: orange;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btn-sub:hover,
#btn-sub:active {
  background: #fff;
}

.grid-two {
  justify-self: flex-end;
  text-align: right;
}

.social-icons a {
  display: inline-block;
}

.social-icons a img {
  width: 40px;
  margin: 0.5rem;
  filter: invert(1);
  transition: all 0.3s ease;
}

.social-icons a img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
