footer {
  background-color: #333;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  column-gap: 2rem;
}

footer h2 {
  text-align: left;
  margin: 0;
}

.sub-cta {
  margin: 1.5rem 0;
  width: auto;
  color: #fff;
}

.footer-nav-links a {
  display: inline-block;
  width: 150px;
  background: #fff;
  color: #333;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}

#sub-email {
  height: 40px;
  width: 400px;
  margin: 1rem 0.5rem 0 0;
  border: 1px solid #dedede;
  border-radius: 0;
}

#btn-sub {
  margin-left: -125px;
  padding: 0 1rem;
  height: 40px;
  border: 1px solid orange;
  background: orange;
  cursor: pointer;
}

#btn-sub:hover,
#btn-sub:active {
  background: #fff;
}

.grid-two {
  justify-self: flex-end;
  text-align: right;
}

.social-icons {
  margin: 1rem 0 2rem 0;
}

.social-icons i {
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
  margin: 0 0.5rem;
  vertical-align: middle;
}

.social-icons a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}
