header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
  z-index: 9999;
}

.logo {
  padding: 0.5rem;
}

.logo a {
  text-decoration: none;
  font-family: "Yeseva One", serif;
}

.logo a h1 {
  font-size: 3rem;
  margin-left: 2rem;
  color: #333;
  text-transform: capitalize;
}

.logoUppercase {
  text-transform: capitalize;
  color: orange;
}

.nav ul li {
  list-style-type: none;
  display: inline-block;
  font-family: "Open sans", sans-serif;
}

.nav ul li a {
  display: inline-flex;
  justify-content: center;
  padding: 2rem;
  width: 150px;
  text-decoration: none;
  color: #333;
  text-transform: capitalize;
  transition: all 0.2s ease;
}

.nav ul li a.active {
  background-color: #cbcbcb;
}

.nav ul li a:hover {
  background-color: #ededed;
}

.nav ul li:last-child a {
  background-color: green;
  color: #fff;
}

.nav ul li:last-child a:hover {
  background-color: #02ae02;
}
