.recipe-wrapper {
  max-width: 1000px;
  margin: 50px auto;
  line-height: 2;
}

.food-image {
  min-width: 1000px;
  height: 400px;
  object-fit: cover;
}
.recipe-title {
  text-align: center;
}
hr {
  border: 0.5px solid #999;
}
.author-name img {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  color: #fff;
}

.recipe-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.description-table-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
  margin: 2rem 0;
}

table td,
table th {
  border-bottom: 1px solid #e0e0e0;
  padding: 0.5rem 0;
  text-align: left;
}

thead tr th:last-child,
tbody tr td:last-child {
  text-align: center;
}

.recipe-instruction {
  margin: 30px 0;
}
