@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Yeseva+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Yeseva One", serif;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 1.8rem;
  margin: 1rem;
  font-family: "Yeseva One", serif;
  text-align: center;
}

.btnGreen,
.btnOrange,
.btnRed {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  margin: 1rem 0;
  cursor: pointer;
}

.btnOrange {
  background-color: #ffa500;
}

.btnGreen {
  background-color: green;
}

.btnRed {
  background-color: red;
}

.btnWhite {
  color: #333;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid green;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  margin: 1rem 0;
  cursor: pointer;
}

button,
textarea,
select {
  font-family: inherit;
}

textarea,
select,
input {
  padding: 0 0.5rem;
  border-radius: 5px;
  font-family: inherit;
}
