@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Yeseva+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Yeseva One", serif;
  font-family: "PT Serif", serif;
}

h2 {
  font-size: 1.8rem;
  margin: 2rem;
  font-family: "Yeseva One", serif;
  text-align: center;
}

.btnGreen,
.btnPurple {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  margin: 1rem 0;
  cursor: pointer;
}

.btnPurple {
  background-color: purple;
}

.btnGreen {
  background-color: green;
}

button,
textarea,
select {
  font-family: inherit;
}

textarea,
select,
input {
  padding: 0 0.5rem;
  border-radius: 5px;
  font-family: inherit;
}
