@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Yeseva+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Yeseva One", serif;
  font-family: "PT Serif", serif;
}

.btnPurple {
  color: #fff;
  text-decoration: none;
  background-color: purple;
  border: 1px solid #fff;
  padding: 0.8rem 1.5rem;
  margin: 2rem 0;
}

button,
textarea,
select {
  font-family: inherit;
}

textarea,
select,
input {
  padding: 0 0.5rem;
}
